<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yhub.dao.UserMapper" >

    <resultMap id="BaseUserResultMap" type="com.yhub.entity.user.UserDO" >
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="salt" property="salt" jdbcType="VARCHAR"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="cols" >
        id,
        gmt_create,
        gmt_modified,
        account,
        password,
        salt,
        nick_name,
        state
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.yhub.entity.user.UserDO" >
        insert into acc_user (
        gmt_create,
        gmt_modified,
        account,
        password,
        salt,
        nick_name,
        state
        )
        values (
        now(),
        now(),
        #{account},
        #{password},
        #{salt},
        #{nickName},
        #{state}
        )
    </insert>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from acc_user
        where id = #{id}
    </delete>

    <update id="update" parameterType="com.yhub.entity.user.UserDO" >
        UPDATE acc_user
        SET gmt_modified = now()
        WHERE id = #{id}
    </update>

    <select id="selectById" resultMap="BaseUserResultMap" parameterType="java.lang.Long" >
        select
        <include refid="cols" />
        from acc_user
        where id = #{id}
    </select>

    <select id="selectByAccount" resultMap="BaseUserResultMap" parameterType="java.lang.String">
        select
        <include refid="cols" />
        from acc_user
        where account = #{account}
    </select>
</mapper>