<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yhub.dao.UserDao">
    <resultMap id="BaseUserResultMap" type="com.yhub.entity.user.UserDO" >
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="cols" >
        id,
        gmt_create,
        gmt_modified,
        name
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.yhub.entity.user.UserDO" >
        insert into acc_user (
        gmt_create,
        gmt_modified,
        name
        )
        values (
        now(),
        now(),
        #{name}
        )
    </insert>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from acc_user
        where id = #{id}
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseUserResultMap" parameterType="java.lang.Long">
        SELECT <include refid="cols"/> FROM acc_user WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="BaseUserResultMap">
        SELECT <include refid="cols"/> FROM acc_user
    </select>
</mapper>